
/*---
Banner
@group			UIComponents/Banner
@desc			...
@modifier		banner--lg			: Large
@modifier		banner--overlap		: Overlap
@modifier		banner--top			: Top
@modifier		banner--bottom		: Bottom
@todo			Implement
@author			Michael Ord
@tags			module
---
<div class="banner {modifier}">
	<img src="//placehold.it/1440x960/ddd" alt="">
	<div class="container banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				<div class="align-center">
					<h1>Banner Title</h1>
					<div class="container container--lg">
						<div class="tabular tabular--equal">
							<div class="tabular__item">
								<div class="d-placeholder"></div>
							</div>
							<div class="tabular__item">
								<div class="d-placeholder"></div>
							</div>
							<div class="tabular__item">
								<div class="d-placeholder"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
*/
$banner							: () !default;
$banner-config					: map-merge(
	(
		margin-bottom			: 2rem
	), $banner
);

.banner
{
	$parent						: &;

	background					: #fff no-repeat 50% 50%;
	background-size				: cover;
	margin						: 0 auto;
	position					: relative;
	overflow					: hidden;
	width						: 100%;

	&:not(only-child)
	{
		//margin-bottom			: map-get($banner-config, margin-bottom);
	}

	> img,
	> video
	{
		position				: absolute;
		top						: 0;
		right					: 0;
		bottom					: 0;
		left					: 0;
		background				: transparent no-repeat 50% 50%;
		background-size			: cover;

		// image
		width					: 100%;
		height					: 100%;
		object-fit				: cover;
		user-select				: none;
		pointer-events			: none;
	}

	&__container
	{
		position				: relative;
		z-index					: 10;
		padding					: 2rem 1rem;
		display					: flex;
	//	justify-content			: center;
	//	height					: 100%;
		align-items				: center;
		//min-height				: 24rem;
	}

	&__body
	{
		flex					: none;
		width					: 100%;
	}

	&__content
	{
		margin					: 0 auto;
		max-width				: 700px;
	}

	&__title
	{
		color					: inherit;
	}

	// width modifiers
	// TODO

	// height modifiers
	&--lg
	{
		#{$parent}__container
		{
			min-height			: 30rem;
		}
	}

	&--xl
	{
		#{$parent}__container
		{
			min-height			: 40rem;
		}
	}

	&--half
	{
		#{$parent}__container
		{
			min-height			: 50vh;
		}
	}

	&--screen
	{
		#{$parent}__container
		{
			min-height			: 100vh;
		}
	}

	// horizontal alignment modifiers
	&--left
	{
		#{$parent}__content
		{
			margin-left			: 0;
		}
	}

	&--right
	{
		#{$parent}__content
		{
			margin-right		: 0;
		}
	}

	// vertical alignment modifiers
	// TODO

	// color modifiers
	&.light
	{
		color					: #fff;
	}

	&.dark
	{
		color					: #000;
	}

	// text alignment modifiers
	&--text-left
	{
		text-align				: left;
	}

	&--text-right
	{
		text-align				: right;
	}

	&--text-center
	{
		text-align				: center;
	}

	// gradient modifiers
	&--gradient
	{
		&:after
		{
			content				: "";
			position			: absolute;
			left				: 0;
			right				: 0;
			top					: 20%;
			bottom				: 0;
			background			: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background			: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background			: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			filter				: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
		}
	}

	&--overlap
	{
		margin-bottom			: -2rem;
		padding-bottom			: 1rem;

		+ *
		{
			position			: relative;
		}
	}

	&--bottom
	{
		#{$parent}__container
		{
			align-items			: flex-end;
		}
	}

	&--top
	{
		#{$parent}__container
		{
			align-items			: flex-start;
		}
	}
}
