
<div class="banner banner--lg">
	{{PlaceholderImage 1440 960}}
	<div class="container banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				<div class="align-center">
					<h1>Banner Title</h1>
				</div>
			</div>
		</div>
	</div>
</div>
